<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ESHCloudsDB" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ESHCloudsDB_Develop;persist security info=True;Integrated Security=true;MultipleActiveResultSets=True;App=Dapper" providerName="System.Data.SqlClient" />
    <add name="ESHCloudsAuth" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ESHCloudsAuthorization_Develop;Persist Security Info=True;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="LegalDB" connectionString="Data Source=ESHClouds-VM.cloudapp.net,5000;Connection Timeout = 90;Initial Catalog=Legal_Develop;User ID=LegalUser;Password=legaluser8899" providerName="System.Data.SqlClient" />
    <add name="RiskDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=esh_Risk;Persist Security Info=True;Integrated Security=true;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>